<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <h1>Contact Form</h1>

  <form id="userForm" action="/sign_in" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required />

    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone" placeholder="0541234567" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <button type="submit">Submit</button>
  </form>
  <script>

  </script>
</body>
</html>
